.naslov {
    text-align: center;
    color: rgb(0, 0, 250);
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body{
    background-color: bisque; 
}   


a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fbfdff;
    background-color: rgb(9, 129, 199);  
}

.opis{
    text-align: center;
}

#para {
    text-align: center;
}

p, ul, ol{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

